doctype html
html
  head
    link(href='/css/index.css', rel='stylesheet')
  body    
    .all-wrapper
      .content-header
        .logo-div 
          a.logo(href='/') Challenge App
        .header-button.button 
          a.button(href='/auth/login') Login
        .header-button.button 
          a.button(href='/auth/register') Register
      .content-auth
        form.login-screen(method='POST' action='/auth/register')
          .title-text.entry Register
          input.entry(placeholder='Username' name='username' required autocomplete='off' autofocus)
          input.entry(placeholder='Email' type='email' name='email' required autocomplete='off')
          input.entry(placeholder='Password' type='password' name='password' autocomplete='off' required)
          button.submitButton Register
          .entry 
            a.register-link(href='/auth/login') Already have an account? Login instead
          
          
          
