.user-list {
    height: 100%;
    width: 75%;
    padding: 20px 20px 20px 20px;
}
.user-list-item {
    height: 110px;
    width: calc(100% - 60px);
    background-color: #3a4d65;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 30px;
    display: flex;
}

.user-name-space {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: inherit;
}

.description-space {
    height: 100%;
    width: 60%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.options-space {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-friend {
    height: 30%;
    min-width: 100px;
    border: 1px solid rgb(97, 174, 3);
    background-color: rgb(127, 230, 1);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.new-post {
    padding: 20px 20px 20px 20px;
    height: 100px;
    width: 35%;
    background-color: #3a4d65;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 30px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
}

.new-post-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(97, 174, 3);
    background-color: rgb(127, 230, 1);
}

.profile {
    width: 100%;
    height: 80%;
    background-color: #3a4d65;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 30px;
    display: flex; 
    flex-direction: column;
}

.profile-pic {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column ;
}

.profile-description {
    width: 100%;
    height: 50%;
}

.profile-pic-zone {
    width: 100%;
    height: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    background-color: rgb(1, 1, 1);
    border-radius: 50%;
}

.picture-save {
    width: 100px;
    text-align: center;
    background-color: #4481cb;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none
}
