doctype html
html
  head
    link(href='/css/index.css', rel='stylesheet')
  body    
    .all-wrapper
      .content-header
        .logo-div 
          a.logo(href='/') Challenge App
        .header-button.button 
          a.button(href='/auth/login') Login
        .header-button.button 
          a.button(href='/auth/register') Register
      .content-index
        .post.post-alt
          span.post-alt-text Welcome to Challenge App, please 
          a.post-alt-text(href='/auth/login') ​ login 
          span.post-alt-text  ​ or 
          a.post-alt-text(href='/auth/register') ​ register 
          span.post-alt-text ​ to continue
        

