doctype html
html
  head
    link(href='/css/index.css', rel='stylesheet')
    link(href='/css/stream/stream.css', rel='stylesheet')
    script(src='/js/friends.js')
  body    
    .all-wrapper
      .content-header
        .logo-div-logged 
          a.logo(href='/stream') Challenge App
        .header-button.button 
          a.button(href='/stream/inbox') Inbox
        .header-button.button 
          a.button(href='/stream/friends') Friends
        .header-button.button 
          a.button(href='/stream/users') Users
        .header-button.button 
          a.button(href='/auth/logout') Logout
      .content
        .user-list
          
        .friends-list

