doctype html
html
  head
    link(href='/css/index.css', rel='stylesheet')
    link(href='/css/stream/stream.css', rel='stylesheet')
    link(href='/css/stream/post.css', rel='stylesheet')

  body    
    .all-wrapper
      .content-header
        .logo-div-logged 
          a.logo(href='/') Challenge App
        .header-button.button 
          a.button(href='/stream/inbox') Inbox
        .header-button.button 
          a.button(href='/stream/friends') Friends
        .header-button.button 
          a.button(href='/stream/users') Users
        .header-button.button 
          a.button(href='/auth/logout') Logout
      .content-index
        .post.post-alt
          form.post-screen(method='POST' action='/stream/post')
            span.title-text Submit Post
            input.entry(name='title' placeholder='Enter title' required autocomplete='off' )
            textarea.entry.content-area(name='content' placeholder='Enter content', resize: none)
            button.submitButton Submit Post

            
           
           
        .friends-list