doctype html
html
  head
    link(href='/css/index.css', rel='stylesheet')
    link(href='/css/stream/stream.css', rel='stylesheet')
    link(href='/css/stream/post.css', rel='stylesheet')
    script(src='/js/stream.js')
  body    
    .all-wrapper
      .content-header
        .logo-div-logged 
          a.logo(href='/') Challenge App
        .header-button.button 
          a.button(href='/stream/inbox') Inbox
        .header-button.button 
          a.button(href='/stream/friends') Friends
        .header-button.button 
          a.button(href='/stream/users') Users
        .header-button.button 
          a.button(href='/auth/logout') Logout
      .content
        .post-wrapper
          .new-post
            .new-post-button
            .new-post-text  
        .friends-list
          .profile
            .profile-pic-zone
              .profile-pic 
              form(method='POST' action='/stream/image' enctype='multipart/form-data')
                input.photo(type='file' name='file' required)
                button.picture-save Save
          .profile-description

